<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
             http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
    version="2.1">
    <persistence-unit name="default-unit">
        <description>Default Mappings</description>
        <mapping-file>/hbm/proxy/core/CategoryResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/CodespaceResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/FeatureResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/FormatResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/LocationResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/OfferingResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/PhenomenonResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/ProcedureHistoryResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/ProcedureResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/RelatedDataResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/RelatedDatasetResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/RelatedFeatureResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/ResultTemplateResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/ServiceResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/TagResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/UnitResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/core/VerticalMetadataResource.hbm.xml</mapping-file>

		<mapping-file>/hbm/proxy/dataset/PlatformResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/dataset/DataResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/proxy/dataset/DatasetResource.hbm.xml</mapping-file>

        <mapping-file>/hbm/parameter/DatasetParameterResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/parameter/FeatureParameterResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/parameter/LocationParameterResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/parameter/ObservationParameterResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/parameter/PhenomenonParameterResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/parameter/PlatformParameterResource.hbm.xml</mapping-file>
        <mapping-file>/hbm/parameter/ProcedureParameterResource.hbm.xml</mapping-file>
    </persistence-unit>
</persistence>
